*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.head-container{
    border: 2px solid green;
    text-align: center;
    font-size: 32px;
    background-color: bisque;
    min-height: 3em;

    display: flex;
    justify-content: center;
    align-items: center;
}

.heading{
    border: 2px solid red;
}

.main-container{
    border: 2px solid blue;

    display: flex;
    flex-direction: column;
}

.main-content{
    border: 2px solid gold;

    display: flex;
    justify-content: space-around;
    align-items: flex-start;

    flex-wrap: wrap;
    align-content: center;
}
.play-area{
    border: 2px solid orchid;

    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rounds-div{
    border: 2px solid red;
}

.img-container{
    border: 2px solid green;
}

.play-result-area{
    border: 2px solid blue;
}

.user-played-area{
    border: 2px solid gold;
}

.comp-played-area{
    border: 2px solid magenta;
}

.final-result-div{
    border: 2px solid brown;
}

.score-board{
    border: 2px solid palevioletred;

    width: 20%;
}
.control-section{
    border: 2px solid seagreen;
}

.img-button{
    width: 120px;
    height: 100px;

    border: 1px solid black;
}