*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.body-container{
    min-height: 100vh;

    display: flex;
    flex-direction: column;
}

.head-container{
    text-align: center;
    font-size: 24px;
    background-color: #0D0D1B;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading{
    color: #ffffff;
    
    padding: 8px 16px 8px 16px;
}

.main-container{
    flex-grow: 1;

    display: flex;
    flex-direction: column;

    background-color: #E3E3F2;
}

.main-content{
    flex-grow: 1;

    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.play-area{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding: 16px;
}

.rounds-div{
    border-radius: 8px;
    background-color: #1B1B37;
    color: #ffffff;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 24px;
    font-weight: 600;
    
    padding: 8px 16px 8px 16px;
}

.img-result-container{
    color: #080E20;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    flex-wrap: wrap;
}

.img-container{
    display: flex;
    justify-content: center ;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
}

.play-result-area{
    border: 2px solid #0D0D1B;
    color: #0D0D1B;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px;
    gap: 8px;
}

.played-area-div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    width: 100%;
}

.user-played-area,
.comp-played-area{
    font-size: 24px;
    font-weight: 600;
    
    padding: 8px 16px 8px 16px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 40%;
}

.vs-div{
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 24px;
    font-weight: 600;
    
    padding: 8px 16px 8px 16px;
}

.result-div{
    border: 2px solid #0D0D1B;
    font-size: 24px;
    
    padding: 8px 16px 8px 16px;
}

.final-result-div{
    border: 2px solid #0D0D1B;
    color: #0D0D1B;

    font-size: 40px;
    font-weight: 600;
    
    margin: 16px;
    padding: 8px 16px 8px 16px;
}

.score-board{
    background-color: #141429;
    color: #ffffff;

    min-width: 20%;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.score-board .score-board-title{
    font-size: 32px;
    font-weight: 600;
    
    border: 3px solid white;

    text-align: center;
    padding: 8px 16px 8px 16px;
    margin: 16px;
}

.score-board .score-div{
    font-size: 20px;

    border: 2px solid white;
    padding: 8px 16px;
    margin: 16px;

    display: flex;
    flex-wrap: wrap;
    gap: 16px;

    text-align: center;
}

.score-div .user-score-div,
.score-div .comp-score-div
{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.control-section{
    border-top: 1px solid #ffffff;

    background-color:  #141429;
    min-height: 4em;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
}
.control-section .button{
    height: 2em;

    border-radius: 4px;
    border: none;
    margin-left: 16px;

    padding: 8px 16px;

    font-size: 20px;
    font-weight: 700;

    color: #141429;
}

.control-section .button.over{
    height: 2em;

    border-radius: 4px;
    border: none;
    margin-left: 16px;

    padding: 8px 16px;

    font-size: 22px;
    font-weight: 700;

    color: #141429;
}

.img-button{
    width: 120px;
    height: 100px;

    border: 2px solid #0D0D1B;
    padding: 8px;
}
.img-button.over{
    width: 125px;
    height: 105px;

    border: 2px solid #0D0D1B;
    padding: 8px;
}

.footer{
    background-color: #0D0D1B;
    padding: 8px 16px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-text a{
    text-decoration:  none;
    color: #ffffff;
}